body{
    background-image: url("contact.jpg");
    background-repeat: no-repeat;

}
#amirtha{
    border-radius:400px;
    margin:300px;
    padding: 0.5px;
}
#ammu{
    border-radius:400px;
    margin:300px;
    padding: 0.5px;

}